html {
	height: 100%;
	/*-webkit-text-size-adjust:none;*/
	overflow: hidden;
}

body {
	position: relative;
	margin: 0 auto;
	min-width: 320px;
	/*word-break: break-all;*/
	height: 100%;
	/*overflow: hidden;*/
	max-width: 414px;
}


#skroller-body * {
	position: absolute;
}

.bg-loading {
	width: 100%;
	height: 100%;
	background-image: url("../images/bg-loading.png");
	background-size: 348px 842px;
}

.bg-records {
	width: 100%;
	height: 100%;
	background-image: url("../images/bg-records.png");
	background-size: 272px 371px;
	/*-webkit-animation: bg-records 80s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;*/
}

@-webkit-keyframes bg-records {
	0% {
		background-position: -142px 680px;
	}

	100% {
		background-position: -142px 0px;
	}
}

.bg-title-catalog {
	width: 100%;
	height: 100%;
	background-color: #ff4200;
}

.bg-catalog {
	width: 100%;
	height: 100%;
	background-color: #ffb800;
}

.title {
	right: 50%;
	margin-right: -135px;
	top: 14.97%;
	width: 360px;
	height: 382px;
}

.title img {
	width: 360px;
}

.title-records {
	left: 50%;
	margin-left: -20px;
	top: 38px;
	width: 176px;
	z-index: 1;
}

.month-odd {
	right: 50%;
	top: 162px;
	width: 332px;
}

.month-even {
	left: 50%;
	top: 309px;
	width: 332px;
}

.icon-odd {
	left: 50%;
	top: 157px;
	overflow: hidden;
}

.icon-even {
	right: 50%;
	top: 298px;
	overflow: hidden;
}

/* icon的width和height保留小数点 */
.icon01 {
	margin-left: 20px;
	width: 124px;
	height: 132.5px;
}

.icon01 img {
	width: 124px;
}

.icon02 {
	margin-right: 0;
	width: 197px;
	height: 160.5px;
}

.icon02 img {
	width: 197px;
}

.icon03 {
	margin-left: 40px;
	width: 82px;
	height: 135.5px;
}

.icon03 img {
	width: 82px;
}

.icon04 {
	margin-right: 0;
	width: 150px;
	height: 150px;
}

.icon04 img {
	width: 150px;
}

.icon05 {
	margin-left: 25px;
	width: 113.5px;
	height: 101px;
}

.icon05 img {
	width: 113.5px;
}

.icon06 {
	margin-right: 35px;
	width: 80px;
	height: 150px;
}

.icon06 img {
	width: 80px;
}

.icon07 {
	margin-left: 10px;
	width: 150px;
	height: 156px;
}

.icon07 img {
	width: 150px;
}

.icon08 {
	margin-right: -40px;
	width: 170px;
	height: 135px;
}

.icon08 img {
	width: 170px;
}

.icon09 {
	margin-left: 0;
	width: 134px;
	height: 55px;
}

.icon09 img {
	width: 134px;
}

.icon10 {
	margin-right: 30px;
	width: 106.5px;
	height: 124.5px;
}

.icon10 img {
	width: 106.5px;
}

.icon11 {
	margin-left: 0;
	width: 238px;
	height: 104px;
}

.icon11 img {
	width: 238px;
}

.icon12 {
	margin-right: 0;
	width: 150px;
	height: 150px;
}

.icon12 img {
	width: 150px;
}

.title {
	right: 50%;
	margin-right: -135px;
	top: 14.97%;
	width: 360px;
	height: 382px;
}

.title-catalog {
	left: 50%;
	margin-left: -119px;
	top: 10.2%;
}

.title-catalog img {
	width: 344px;
}

.catalog {
	width: 100%;
	height: 100%;
}

.catalog img:nth-child(odd) {
	left: 50%;
}

.catalog img:nth-child(even) {
	right: 50%;
}

.catalog img:nth-child(1) {
	margin-left: -18px;
	top: 7.86%;
	width: 127px;
}

.catalog img:nth-child(2) {
	margin-right: -24px;
	top: 17.66%;
	width: 145px;
}

.catalog img:nth-child(3) {
	margin-left: -17px;
	top: 31.38%;
	width: 101px;
}

.catalog img:nth-child(4) {
	margin-right: -23px;
	top: 40.77%;
	width: 157px;
}

.catalog img:nth-child(5) {
	margin-left: -15px;
	top: 52.51%;
	width: 151px;
}

.catalog img:nth-child(6) {
	margin-right: -23px;
	top: 60.86%;
	width: 156px;
}

.catalog img:nth-child(7) {
	margin-left: -11px;
	top: 69.29%;
	width: 145px;
}

.catalog img:nth-child(8) {
	margin-right: -26px;
	top: 80.69%;
	width: 137px;
}



/* modified: 改用CSS3选择器 */
.bg-ranking {
	width: 100%;
	height: 100%;
}

.bg-ranking:nth-child(odd) {
	right: 0;
}

.bg-ranking:nth-child(even) {
	left: 0;
}


/* bg-ranking */
.bg-ranking01 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking01.png");
	background-size: 144px 203px;
}
.bg-ranking02 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking02.png");
	background-size: 83px 114px;
}
.bg-ranking03 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking03.png");
	background-size: 137px 134px;
}
.bg-ranking04 {
	background-color: #fff;
	background-image: url("../images/bg-ranking04.png");
	background-size: 107px 121px;
}

.bg-ranking05 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking05.png");
	background-size: 98px 129px;
}

.bg-ranking06 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking06.png");
	background-size: 155px 149px;
}

.bg-ranking07 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking07.png");
	background-size: 80px 81px;
}

.bg-ranking08 {
	background-color: #000;
	background-image: url("../images/bg-ranking08.png");
	background-size: 70px 67px;
}


/* ranking-main-div */
/* ranking图片宽高不同时取大的 */
.ranking01 {
	top: 165px;
	left: 27px;
	width: 1094px;
	height: 1094px;
	background-image: url("../images/ranking01.png");
	background-size: 1094px 1094px;
}
.ranking02 {
	top: 163px;
	right: 23px;
	width: 1252px;
	height: 1252px;
	background-image: url("../images/ranking02.png");
	background-size: 1252px 1252px;
}
.ranking03 {
	top: 163px;
	left: 24px;
	width: 1238px;
	height: 1238px;
	background-image: url("../images/ranking03.png");
	background-size: 1238px 1238px;
}
.ranking04 {
	top: 163px;
	right: 24px;
	width: 933px;
	height: 933px;
	background-image: url("../images/ranking04.png");
	background-size: 933px 933px;
}
.ranking05 {
	top: 163px;
	left: 24px;
	width: 1070px;
	height: 1070px;
	background-image: url("../images/ranking05.png");
	background-size: 1070px 1070px;
}
.ranking06 {
	top: 163px;
	right: 24px;
	width: 871px;
	height: 871px;
	background-image: url("../images/ranking06.png");
	background-size: 871px 871px;
}
.ranking07 {
	top: 163px;
	left: 24px;
	width: 1174px;
	height: 1174px;
	background-image: url("../images/ranking07.png");
	background-size: 1174px 1174px;
}
.ranking08 {
	top: 163px;
	right: 24px;
	width: 770px;
	height: 770px;
	background-image: url("../images/ranking08.png");
	background-size: 770px 770px;
}



/* title-ranking */

.title-ranking01 {
	left: 23px;
	width: 178px;
	height: 117px;
}
.title-ranking02 {
	right: 26px;
	width: 210px;
	height: 159px;
}
.title-ranking03 {
	left: 26px;
	width: 147px;
	height: 105px;
}
.title-ranking04 {
	right: 26px;
	width: 224px;
	height: 125.5px;
}
.title-ranking05 {
	left: 26px;
	width: 216px;
	height: 121px;
}
.title-ranking06 {
	right: 26px;
	width: 222px;
	height: 95px;
}
.title-ranking07 {
	left: 26px;
	width: 209px;
	height: 116px;
}
.title-ranking08 {
	right: 26px;
	width: 196px;
	height: 130px;
}






