html {
	height: 100%;
	/*-webkit-text-size-adjust:none;*/
	overflow: hidden;
}

body {
	position: relative;
	margin: 0 auto;
	min-width: 320px;
	/*word-break: break-all;*/
	height: 100%;
	/*overflow: hidden;*/
	max-width: 414px;
}


#skroller-body * {
	position: absolute;
}

/* loading */
#loading{
	position: absolute;
	width:100%;
	height: 100%;
	z-index: 999;
	-webkit-transform: translate3d(0,0,0);
	/*-webkit-transition:all 1s ease-in-out;*/
}
#loading img:nth-child(1){
	position:absolute;
	height:78px;
	width:117px;
	top:50%;
	left:50%;
	margin-top: -167px;
	margin-left: -51px;
}
#loading img:nth-child(2){
	position:absolute;
	height:162px;
	width:142px;
	top:50%;
	left:50%;
	margin-top: -79px;
	margin-left: -71px;
}
#loading img:nth-child(3){
	position:absolute;
	height:18px;
	width:66px;
	top:50%;
	left:50%;
	margin-top: -50px;
	margin-left: -25px;
}
.bg-loading img {
	position: absolute;
	height: 35px;
	width: 83px;
	top: 50%;
	left: 50%;
	margin-top: 125px;
	margin-left: -40px;
}
.loading-bg{
	position:absolute;
	/*background-image: url("../images/bg-loading.png");*/
	background-color:rgb(252,83,31);
	/*background-size: 317px 545px;
	background-position: center;*/
	width:100%;
	height:100%;
	/*z-index: 998;*/
}
/* ready */
.readyS .arrow {
	display: block;
}
.readyS #loading img:nth-child(3) {
	display: none;
}

.bg-loading {
	width: 100%;
	height: 100%;
	background-image: url("../images/bg-loading.png");
	background-size: 317px 545px;
	background-position: center;
}

.bg-records {
	width: 100%;
	height: 100%;
	background-image: url("../images/bg-records.png");
	background-size: 272px 371px;
	background-position: center;
}

.bg-catalog02 {
	width: 100%;
	height: 100%;
	background-color: #ff4200;
}

.bg-catalog04 {
	width: 100%;
	height: 100%;
	background-color: #ffb800;
}

.title {
	right: 50%;
	margin-right: -135px;
	top: 14.97%;
	width: 340px;
	height: 360px;
}

.title img:nth-child(1) {
	left: 86px;
	width: 248px;
}

.title img:nth-child(2) {
	left: 96px;
	top: 82px;
	width: 244px;
}

.title img:nth-child(3) {
	left: 85px;
	top: 185px;
	height: 185px;
	width: 256px;
}

.title img:nth-child(4) {
	top: 11px;
	width: 204px;
}

.title-records {
	left: 50%;
	margin-left: -20px;
	top: 38px;
	width: 176px;
}

.month-odd {
	right: 50%;
	top: 162px;
	width: 332px;
}

.month-odd img {
	left: 50%;
	margin-left: -85px;
	margin-top: -69px; 
	width: 169px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(45deg);
}

.month-even {
	left: 50%;
	top: 309px;
	width: 332px;
}

.month-even img {
	left: 50%;
	margin-left: -85px;
	margin-top: -69px; 
	width: 169px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
}

.icon-odd {
	left: 50%;
	top: 157px;
	overflow: hidden;
}

.icon-even {
	right: 50%;
	top: 298px;
	overflow: hidden;
}

/* icon的width和height保留小数点 */
.icon01 {
	margin-left: 20px;
	width: 124px;
	height: 132.5px;
}

.icon01 img {
	width: 124px;
}

.icon02 {
	margin-right: 0;
	width: 191.5px;
	height: 160.5px;
}

.icon02 img {
	width: 191.5px;
}

.icon03 {
	margin-left: 40px;
	width: 82px;
	height: 135.5px;
}

.icon03 img {
	width: 82px;
}

.icon04 {
	margin-right: 0;
	width: 150px;
	height: 150px;
}

.icon04 img {
	width: 150px;
}

.icon05 {
	margin-left: 25px;
	width: 113.5px;
	height: 101px;
}

.icon05 img {
	width: 113.5px;
}

.icon06 {
	margin-right: 35px;
	width: 80px;
	height: 150px;
}

.icon06 img {
	width: 80px;
}

.icon07 {
	margin-left: 10px;
	width: 150px;
	height: 156px;
}

.icon07 img {
	width: 150px;
}

.icon08 {
	margin-right: -40px;
	width: 170px;
	height: 135px;
}

.icon08 img {
	width: 170px;
}

.icon09 {
	margin-left: 0;
	width: 244.5px;
	height: 169px;
}

.icon09 img {
	width: 244.5px;
}

.icon10 {
	margin-right: 30px;
	width: 106.5px;
	height: 124.5px;
}

.icon10 img {
	width: 106.5px;
}

.icon11 {
	margin-left: 0;
	width: 238px;
	height: 104px;
}

.icon11 img {
	width: 238px;
}

.d-icon11 {
	margin-left: 5px;
	width: 135px;
	height: 84px;
}

.d-icon11 img {
	width: 135px;
}

.icon12 {
	margin-right: 0;
	width: 150px;
	height: 150px;
}

.icon12 img {
	width: 150px;
}

.title-catalog {
	left: 50%;
	margin-left: -119px;
	top: 10.2%;
	width: 344px;
	height: 443px;
}

.title-catalog img:nth-child(1) {
	width: 245px;
}

.title-catalog img:nth-child(2) {
	left: 33px;
	top: 53px;
	width: 216px;
}

.title-catalog img:nth-child(3) {
	top: 160px;
	width: 317px;
}

.title-catalog img:nth-child(4) {
	left: 15px;
	top: 249px;
	width: 245px;
}

p {
	bottom: 5.67%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 12px;
	color: #fff;
	z-index: 1;
}

.catalog {
	width: 100%;
	height: 100%;
}

.catalog img:nth-child(odd) {
	left: 50%;
}

.catalog img:nth-child(even) {
	right: 50%;
}

.catalog img:nth-child(1) {
	margin-left: -18px;
	top: 7.86%;
	width: 127px;
}

.catalog img:nth-child(2) {
	margin-right: -24px;
	top: 17.66%;
	width: 145px;
}

.catalog img:nth-child(3) {
	margin-left: -17px;
	top: 31.38%;
	width: 101px;
}

.catalog img:nth-child(4) {
	margin-right: -23px;
	top: 40.77%;
	width: 157px;
}

.catalog img:nth-child(5) {
	margin-left: -15px;
	top: 52.51%;
	width: 151px;
}

.catalog img:nth-child(6) {
	margin-right: -23px;
	top: 60.86%;
	width: 156px;
}

.catalog img:nth-child(7) {
	margin-left: -11px;
	top: 69.29%;
	width: 145px;
}

.catalog img:nth-child(8) {
	margin-right: -26px;
	top: 80.69%;
	width: 137px;
}



/* modified: 改用CSS3选择器 */
.bg-ranking {
	width: 100%;
	height: 100%;
}

.bg-ranking:nth-child(odd) {
	right: 0;
}

.bg-ranking:nth-child(even) {
	left: 0;
}


/* bg-ranking */
.bg-ranking01 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking01.png");
	background-size: 144px 203px;
}
.bg-ranking02 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking02.png");
	background-size: 83px 114px;
}
.bg-ranking03 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking03.png");
	background-size: 137px 134px;
}
.bg-ranking04 {
	background-color: #fff;
	background-image: url("../images/bg-ranking04.png");
	background-size: 107px 121px;
}

.bg-ranking05 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking05.png");
	background-size: 98px 129px;
}

.bg-ranking06 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking06.png");
	background-size: 155px 149px;
}

.bg-ranking07 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking07.png");
	background-size: 80px 81px;
}

.bg-ranking08 {
	background-color: #000;
	background-image: url("../images/bg-ranking08.png");
	background-size: 70px 67px;
}


/* ranking-main-div */
/* ranking图片宽高不同时取大的 */
.ranking01 {
	top: 165px;
	left: 27px;
	width: 1094px;
	height: 1094px;
}
.ranking01>img {
	left: 50%;
	margin-left: -159px;
	margin-top: -226px;
	width: 318px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
}
.ranking02 {
	top: 163px;
	right: 23px;
	width: 1252px;
	height: 1252px;
}
.ranking02>img {
	right: 50%;
	margin-right: -159px;
	margin-top: -259px;
	width: 318px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(45deg);
}
.ranking03 {
	top: 163px;
	left: 24px;
	width: 1238px;
	height: 1238px;
}
.ranking03>img {
	left: 50%;
	margin-left: -161px;
	margin-top: -256px;
	width: 321px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
}
.ranking04 {
	top: 163px;
	right: 24px;
	width: 933px;
	height: 933px;
}
.ranking04>img {
	right: 50%;
	margin-right: -161px;
	margin-top: -193px;
	width: 321px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(45deg);
}
.ranking05 {
	top: 163px;
	left: 24px;
	width: 1070px;
	height: 1070px;
}
.ranking05>img {
	left: 50%;
	margin-left: -163px;
	margin-top: -222px; 
	width: 325px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
}
.ranking06 {
	top: 163px;
	right: 24px;
	width: 871px;
	height: 871px;
}
.ranking06>img {
	right: 50%;
	margin-right: -163px;
	margin-top: -180px; 
	width: 325px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(45deg);
}
.ranking07 {
	top: 163px;
	left: 24px;
	width: 1174px;
	height: 1174px;
}
.ranking07>img {
	left: 50%;
	margin-left: -163px;
	margin-top: -243px; 
	width: 325px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
}
.ranking08 {
	top: 163px;
	right: 24px;
	width: 770px;
	height: 770px;
}
.ranking08>img {
	right: 50%;
	margin-right: -163px;
	margin-top: -159px; 
	width: 325px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(45deg);
}



/* title-ranking */

.title-ranking01 {
	left: 23px;
	width: 178px;
	height: 117px;
}
.title-ranking02 {
	right: 26px;
	width: 210px;
	height: 159px;
}
.title-ranking03 {
	left: 26px;
	width: 147px;
	height: 105px;
}
.title-ranking04 {
	right: 26px;
	width: 224px;
	height: 125.5px;
}
.title-ranking05 {
	left: 26px;
	width: 216px;
	height: 121px;
}
.title-ranking06 {
	right: 26px;
	width: 222px;
	height: 95px;
}
.title-ranking07 {
	left: 26px;
	width: 209px;
	height: 116px;
}
.title-ranking08 {
	right: 26px;
	width: 196px;
	height: 130px;
}



/* icon-ranking */

.ranking05 div {
	top: 165px;
	left: 64px;
	width: 420.5px;
	height: 150px;
	overflow: hidden;
}
.ranking05 div img {
	width: 420.5px;
}
.ranking06 div {
	top: 20px;
	right: 138px;
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.ranking06 div img {
	width: 150px;
}
.ranking08 div {
	top: 38px;
	right: 115px;
	width: 96.5px;
	height: 77px;
	overflow: hidden;
}
.ranking08 div img {
	width: 96.5px;
}



/* arrow */

.arrow {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 10px;
	width: 27px;
	display: none;
}



/* ending */

.ending01 {
	top: 55%;
	width: 100%;
	height: 45%;
	background-color: #ff4200;
}
.ending01 img {
	margin-top: -5px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}
.ending02 {
	bottom: 45%;
	width: 100%;
	height: 55%;
	background-color: #000;
}
.ending02 img {
	bottom: 0;
	left: 50%;
	margin-left: -249px;
	width: 499px;
}
.ending03 {
	top: 55%;
	margin-top: -15px;
	left: 50%;
	margin-left: -81px;
	width: 161px;
}