html {
	height: 100%;
	/*-webkit-text-size-adjust:none;*/
	overflow: hidden;
}

body {
	position: relative;
	margin: 0 auto;
	min-width: 320px;
	/*word-break: break-all;*/
	height: 100%;
	/*overflow: hidden;*/
	/*max-width: 414px;*/
}


#skroller-body * {
	position: absolute;
}

.bg-records {
	width: 100%;
	height: 100%;
	background-image: url("../images/bg-records.png");
	background-size: 284px 680px;
	/*-webkit-animation: bg-records 80s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;*/
}

@-webkit-keyframes bg-records {
	0% {
		background-position: -142px 680px;
	}

	100% {
		background-position: -142px 0px;
	}
}

.title-records {
	left: 50%;
	margin-left: -20px;
	top: 38px;
	width: 176px;
	z-index: 1;
}

.month-odd {
	right: 50%;
	top: 162px;
	width: 332px;
}

.month-even {
	left: 50%;
	top: 309px;
	width: 332px;
}

.icon-odd {
	left: 50%;
	top: 157px;
	overflow: hidden;
}

.icon-even {
	right: 50%;
	top: 298px;
	overflow: hidden;
}

/* icon的width和height保留小数点 */
.icon01 {
	margin-left: 22px;
	width: 124px;
	height: 132.5px;
}

.icon01 img {
	width: 124px;
}

.icon02 {
	margin-right: 0;
	width: 197px;
	height: 160.5px;
}

.icon02 img {
	width: 197px;
}

.icon03 {
	margin-left: 0;
	width: 82px;
	height: 135.5px;
}

.icon03 img {
	width: 82px;
}

.icon04 {
	margin-right: 0;
	width: 150px;
	height: 150px;
}

.icon04 img {
	width: 150px;
}

.icon05 {
	margin-left: 0;
	width: 113.5px;
	height: 101px;
}

.icon05 img {
	width: 113.5px;
}

.icon06 {
	margin-right: 0;
	width: 80px;
	height: 150px;
}

.icon06 img {
	width: 80px;
}

.icon07 {
	margin-left: 0;
	width: 150px;
	height: 156px;
}

.icon07 img {
	width: 150px;
}

.icon08 {
	margin-right: 0;
	width: 170px;
	height: 135px;
}

.icon08 img {
	width: 170px;
}

.icon09 {
	margin-left: 0;
	width: 134px;
	height: 55px;
}

.icon09 img {
	width: 134px;
}

.icon10 {
	margin-right: 0;
	width: 106.5px;
	height: 124.5px;
}

.icon10 img {
	width: 106.5px;
}

.icon11 {
	margin-left: 0;
	width: 238px;
	height: 104px;
}

.icon11 img {
	width: 238px;
}

.icon12 {
	margin-right: 0;
	width: 150px;
	height: 150px;
}

.icon12 img {
	width: 150px;
}

.bg-ranking-odd {
	right: 0;
	width: 100%;
	height: 100%;
}

.bg-ranking-even {
	left: 0;
	width: 100%;
	height: 100%;
}

.bg-ranking01 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking01.png");
	background-size: 144px 203px;
}

/* ranking图片宽高不同时取大的 */
.ranking01 {
	top: 165px;
	left: 27px;
	width: 1094px;
	height: 1094px;
	background-image: url("../images/ranking01.png");
	background-size: 1094px 1094px;
}

.title-ranking01 {
	left: 23px;
	width: 178px;
	height: 117px;
}

.bg-ranking02 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking02.png");
	background-size: 83px 114px;
}

.ranking02 {
	top: 163px;
	right: 23px;
	width: 1252px;
	height: 1252px;
	background-image: url("../images/ranking02.png");
	background-size: 1252px 1252px;
}

.title-ranking02 {
	right: 26px;
	width: 210px;
	height: 159px;
}

.bg-ranking03 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking03.png");
	background-size: 137px 134px;
}

.ranking03 {
	top: 163px;
	left: 24px;
	width: 1238px;
	height: 1238px;
	background-image: url("../images/ranking03.png");
	background-size: 1238px 1238px;
}

.title-ranking03 {
	left: 26px;
	width: 147px;
	height: 105px;
}


.bg-ranking04 {
	background-color: #fff;
	background-image: url("../images/bg-ranking04.png");
	background-size: 107px 121px;
}

.bg-ranking05 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking05.png");
	background-size: 98px 129px;
}

.bg-ranking06 {
	background-color: #ffd800;
	background-image: url("../images/bg-ranking06.png");
	background-size: 155px 149px;
}

.bg-ranking07 {
	background-color: #ff4200;
	background-image: url("../images/bg-ranking07.png");
	background-size: 80px 81px;
}

.bg-ranking08 {
	background-color: #000;
	background-image: url("../images/bg-ranking08.png");
	background-size: 70px 67px;
}